
@{
    ViewBag.Title = "Index";
}

<h2>Report section</h2>

@{Html.RenderAction("MostActiveUsers", "Report");}
@{Html.RenderAction("MostBorrowedBooks", "Report");}
@{Html.RenderPartial("Filter");}





<script>

    
</script>