@model List<WebModelService.ViewModel.UserViewModel>

@{
    ViewBag.Title = "MostActiveUsers";
}

<h2>Most Active Users</h2>
@(Html.Kendo().Grid(Model)
        .Name("userGrid")
        .Columns(columns =>
        {
            columns.Bound(b => b.UserId).Width(100).Filterable(false);
            columns.Bound(b => b.FirstName).Width(100).Filterable(false);
            columns.Bound(b => b.LastName).Width(100).Filterable(x => x.Enabled(true));//.Filterable(ftb => ftb.Cell(cell => cell.Operator("startswith")));
            columns.Bound(b => b.BooksBorrowed).Width(100).Filterable(false);
            //columns.Command(command => command.Custom("Show books").Click("viewBooks")).Width(80);
        })
        .HtmlAttributes(new { style = "height: 350px;" })
        .Scrollable()
        .Filterable()
        //.Filterable(ftb => ftb.Mode(GridFilterMode.Row))
        .Groupable()
        .Sortable()
        .Pageable()
.DataSource(dataSource => dataSource
    .Ajax()
    .Read(read => read.Action("Users_Read", "Report"))
    .PageSize(20)
)
)

